body {
  background-color: black;
}

#outer-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
}

#inner-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  min-height: 300px;
  padding: 20px;
  margin-bottom: 50px;
}

#title-container {
  border-bottom: 5px solid #333333;
}

#inner-container h1 {
  color: purple;
}

#main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

ul {
  padding: 0;
}

#online {
  background-color: #C4FFC4;
}

#twitch-channels li p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#twitch-channels li {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: #333333;
}
