body {
  background-color: black;
}

#outer-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
}

#inner-container {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  min-height: 300px;
  padding: 20px;
  margin-bottom: 50px;
}

#inner-container p {

}

#inner-container h1 {
  color: purple;
}

#main {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: space-between;
}

#twitch-channels li {
  text-decoration: none;
  list-style: none;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: #333333;
}
